<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>BookRegisterServlet</servlet-name>
        <servlet-class>com.mycompany.bookwebapp.BookRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookListServlet</servlet-name>
        <servlet-class>com.mycompany.bookwebapp.BookListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookEditScreenServlet</servlet-name>
        <servlet-class>com.mycompany.bookwebapp.BookEditScreenServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookEditServlet</servlet-name>
        <servlet-class>com.mycompany.bookwebapp.BookEditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserListServlet</servlet-name>
        <servlet-class>com.mycompany.bookwebapp.UserListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserEditScreenServlet</servlet-name>
        <servlet-class>com.mycompany.bookwebapp.UserEditScreenServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserEditServlet</servlet-name>
        <servlet-class>com.mycompany.bookwebapp.UserEditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookDeleteServlet</servlet-name>
        <servlet-class>com.mycompany.bookwebapp.BookDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDeleteServlet</servlet-name>
        <servlet-class>com.mycompany.bookwebapp.UserDeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BookRegisterServlet</servlet-name>
        <url-pattern>/BookRegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookListServlet</servlet-name>
        <url-pattern>/BookListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookEditScreenServlet</servlet-name>
        <url-pattern>/BookEditScreenServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookEditServlet</servlet-name>
        <url-pattern>/BookEditServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserListServlet</servlet-name>
        <url-pattern>/UserListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserEditScreenServlet</servlet-name>
        <url-pattern>/UserEditScreenServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserEditServlet</servlet-name>
        <url-pattern>/UserEditServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookDeleteServlet</servlet-name>
        <url-pattern>/BookDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDeleteServlet</servlet-name>
        <url-pattern>/UserDeleteServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
